<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="NgeResto merupakan website tempat mencari restoran dalam berbagai
    rating untuk memudahkan Anda mencari restoran yang diinginkan."
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <title>NgeResto</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <h1 class="header__title">NgeResto</h1>
      <button id="hamburgerButton" class="header__menu" aria-label="navigation-menu">
        ☰
      </button>
      <nav id="navigationDrawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/list">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item">
            <a href="https://www.linkedin.com/in/nasyithm/" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
      <p class="footer">Copyright © 2023 - NgeResto</p>
    </footer>
  </body>
</html>
